header {
  background-color: orange;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 3px solid #face00;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header h1 {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}

.button--logout {
  border: none;
  border-radius: 8px;
  padding: 4px;
  margin-right: 4px;
}
