header {
  background-color: #ffd230;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1.5px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;

}

header h1 {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}

.button--logout {
  margin: 0.5em;
  border-radius: 0;
  padding: 2px 20px;
  font-size: 0.5em;
  font-weight: 300;
  font-family: inherit;
  background-color: rgb(49, 49, 49);
  color: white;
  cursor: pointer;
  transition: border-color 0.25s; }