.small-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: auto;  /* pushes image to the right */
}