/* main {
  gap: 20px;
}

h1 {
  font-size: 2rem;
}

img {
 
  width: 80%;
  object-fit: contain;
  align-self: center;
} */

/* section {
  border-radius: 0.5rem;
  border: 3px solid #000000;
  text-align: left;
  padding-left: 1rem;
} */

/* button {
  align-self: center;
  width: fit-content;
} */



