.welcome-container {
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 20vh;
}


.welcome-image-section img {
  width: 400px;
  height: auto;
}


.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  
}
